.logo-image {
  width: 50px;
  height: 50px;
  background: url("sherlock_logo_white.png");
  background-size: 50px 50px;
  background-position: center;
  position:absolute;
  left:16px;
  top:8px;
}
.logo-text {
  font-family: avenir-light;
  font-size: 50px;
  position:absolute;
  left:68px;
  top:4px;
}
.phone {
  position:absolute;
  right:120px;
  top:20px;
}
.home-header {
  /*background-color: #528FA6;*/
  background-color: #095871;
  color:white;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 0.005em;
}
.show-small {
  display: none;
}
.icon-menu {
  background: url("white-menu.png") center no-repeat;
  height: 24px;
  width: 28px;
  padding-top:23px;
  display: none;
}
.new-menu {
  display: none;
}
.icon-account {
  background: url("black-account.png") center no-repeat;
  height: 24px;
  width: 24px;
  margin-right:8px;
}
.icon-billing {
  background: url("black-currency.png") center no-repeat;
  height: 24px;
  width: 24px;
  margin-right:8px;
}
.icon-contact {
  background: url("black-phone.png") center no-repeat;
  height: 24px;
  width: 24px;
  margin-right:8px;
}
.menu {
  position: absolute;
  left: 5px;
  top: 62px;
  width:200px;
  box-shadow: 0px 0px 5px #888888;
  display: none;
}
.menu-item {
  width: 200px;
  border: none;
  padding: 14px;
  text-align: left;
  background-color: white;
  font-family: avenir-light;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.005em;
  cursor:pointer;
  display:flex;
  text-decoration: none;
  color:black;
}
#mobile-menu-button {
  height: 64px;
  width: 50px;
  position: absolute;
  left: 0px;
}
.mobile-menu {
	display:none !important;
}
#mobile-menu {
  z-index: 1;
  display: none;
  position: absolute;
  top: 64px;
  left: 0px;
}

@media screen and (min-width: 600px)  and (max-width: 960px) {
    .home-header {

    }
}
@media screen and (max-width: 600px) {
    .logo-text{
      display: none;
    }
    .show-small {
      display: inline;
    }
    .show-big {
      display: none;
    }
    .icon-menu {
      display: inline;
    }
	.mobile-menu {
		display:visible;
	}
    .new-menu {
      display: inline;
      background:url("white-menu.png");
      background-position: center;
      background-repeat: no-repeat;
    }
    .logo-image {
      margin-left:-20px;
      left:50%;
    }
    .menu {
      display: inline;
    }
}
